[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test
[access "refs/*"]
	owner = group user/plece
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/plece
	label-Verified = -1..+1 group user/plece
	push = group user/plece
	read = group user/plece
	rebase = group user/plece
	removeReviewer = group user/plece
	submit = group user/plece
[access "refs/heads/*"]
	create = group user/plece
	push = +force group user/plece
	pushMerge = group user/plece
	read = group user/plece
[access "refs/tags/*"]
	push = group user/plece
	push = +force group user/plece
